:root{
    /* Fonts */
    --title-font: "Montserrat", sans-serif;
    --paragraph-font: "Lora", serif;

    /* Colors */
    --primary-color: #2C3E50;
    --secondary-color: #A8D5BA;
    --accent-color: #F9D342;
    --text-color-1:#FAFAFA;
    --text-color-2: #333333;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--paragraph-font);
}


#course-title{
    display: block;

    text-align: center;
    font-family: var(--title-font);
    font-size: 2rem;

    background-color: var(--primary-color);
    color: var(--text-color-1);

    border-radius: 5px;

    padding: 50px;
}

header ul{
    display: flex;
    list-style-type: none; /* This is the declaration to get fine visually those links in 'a' ancor tags */
    
    justify-content: space-evenly;

    background-color: var(--accent-color);
    font-size: 20px;
}

header li{
    padding: 25px;
}

header a:hover {
    text-decoration: overline var(--primary-color);
    font-weight: bolder;

}

header a{
    text-decoration: none;
    color: var(--text-color-2);

}

.name{
    color: var(--accent-color);
    font-weight: bold;
}


main{
    text-align: center;
    max-width: 500rem;
}

main h1{
    font-family: var(--title-font);
    padding: 25px;
}

.container{
    display: grid;
    grid-template: 1fr / 60% 25%;
    justify-content: center;

    margin: 50px auto;
    gap: 25px;
}

.tag-container{
    display: flex;
    flex-direction: column;
}


.tag-container h2{
    background-color: var(--primary-color);
    color: var(--text-color-1);
    border-radius: 3px;

    padding: 15px;
    
}


.tag{

    border: solid 1px var(--primary-color);
    border-radius: 3px;

    padding: 30px;
    height: 30em;
    line-height: 1.6;
}

img{
    border-radius: 5px;
    border: solid 1px var(--primary-color);
}

.profile-photo{
    float: right;
    margin: auto auto 50px auto;
}

h3{
    color: var(--text-color-2);
    margin-top: 40px;
    border-top: solid 1px var(--primary-color);
}

.inside-tag{
    display: flex;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    gap: 10px;

    color: var(--text-color-1);
    background-color: var(--primary-color);
}

footer #lastModified{
    color: var(--accent-color);
    font-weight: bold;
}

