:root{
    /* Fonts */
    --title-font: "Montserrat", sans-serif;
    --paragraph-font: "Lora", serif;

    /* Colors */
    --primary-color: #2C3E50;
    --secondary-color: #A8D5BA;
    --accent-color: #F9D342;
    --text-color-1:#FAFAFA;
    --text-color-2: #333333;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--paragraph-font);
}


#course-title{
    display: block;

    text-align: center;
    font-family: var(--title-font);
    font-size: 2rem;

    background-color: var(--primary-color);
    color: var(--text-color-1);

    border-radius: 5px;

    padding: 50px;
}

header ul{
    display: flex;
    list-style-type: none; /* This is the declaration to get fine visually those links in 'a' ancor tags */
    
    justify-content: space-evenly;

    background-color: var(--accent-color);
    font-size: 20px;
}

header li{
    padding: 25px;
}

header li:hover {
    text-decoration: overline var(--primary-color);
    font-weight: bolder;

}

header a{
    text-decoration: none;
    color: var(--text-color-2);

}


main{
    text-align: center;
    max-width: 500rem;
}

main h1{
    font-family: var(--title-font);
    padding: 25px;
}