* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

/*---------------- HEADER SECTION --------------------*/

header {
    font-weight: bolder;
    font-size: 1rem;
    padding: 1.5rem;
    background-color: cornflowerblue;
    color: black;
}

header nav {
    display: flex;
}

.navigation {
    display: flex;

    gap: 2rem;
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation a {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    background-color: black;
    color: beige;
}

#menu-icon {
    display: none;
}

#menu-icon::before {
    content: "☰";
    font-size: 1.5rem;
}

#menu-icon.open::before {
    content: "✕";
}

/*----------------- MAIN SECTION --------------------*/

main {
    max-width: 1000px;
    margin: 0 auto;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 2.5rem auto;
}

/* This is the container that holds all the temple cards */ 


.container {
    display: grid;
    /* this builds the columns and rows to be repeat and autofit the content
    according to the window browser size*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    
}

.container section {
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    padding: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color: #eeeeee;
}


.container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.container .label {
    color: darkmagenta;
    font-weight: bolder;
}


/*------------- FOOTER SECTION --------------------*/
footer {
    display: grid;
    gap: 1rem;
    font-weight: bolder;
    justify-content: center;
    padding: 1.5rem;
    background-color: cornflowerblue;

    margin-top: 20px;
}

footer p {
    text-align: center;
}